
menu "Motor Controller I2C Configuration"

config MOTOR_COM_I2C_ADDRESS
    hex "I2C address of the motor controller"
    default 0x42
    help
      Set the I2C address of the motor controller. Ensure this matches the address configured on the motor controller device.

endmenu